$CFColors-darkGrey: rgba(33, 33, 33, 1);
$CFColors-grayBlue: rgba(44, 66, 81, .5);
$CfColors-darkBlue-1: rgba(0, 115, 171, .5);
$CfColors-darkBlue-2: rgba(17, 72, 104, .6);
$CFColors-Orange: rgba(247, 148, 29, .5);
$CFColors-brown: rgba(94, 66, 15, 0.6);
$CFColors-ltGrey: rgba(223, 227, 228, .5);
$CFColors-Black: rgba(0, 0, 0, 1);
$text: rgb(252, 252, 252);
$textHover:  rgb(0, 150, 32);

body {
    height: 100%;
    background-color: cadetblue;
    background: linear-gradient(to right, rgb(121, 145, 187), rgb(174, 201, 248), rgb(148, 186, 252));
}

.background {
    height: 100vh;
    min-height: 500px;
    background: url(../assets/img/lightning.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.start_screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    min-width: 100%;
    min-height: 100%;
    padding: 0 0 20% 0;
    background: rgba(20, 20, 20, 0.8);
}
.alert_text {
    height: 60px;
    font-family: titillium-web, sans-serif;
    font-size: 22px;
    font-weight: 200;
    letter-spacing: 1px;
    text-align: center;
    text-shadow: 1px 1px 2px black, -1px -1px 2px black;
    color: rgba(247, 149, 29, 0.699);
}
.geo_location,
.enter_location {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;

    .location_subtitle {
        margin-bottom: 12px;
        font-family: titillium-web, sans-serif;
        letter-spacing: 1px;
        text-shadow: 1px 1px 2px black, -1px -1px 2px black;
        color: rgba(0, 115, 171, 1);
        font-size: 22px;
    }
}
.geo_location {
    .location_title {
        min-height: 50px;
        margin-top: 6px;
        color: $text;
        font-family: titillium-web, sans-serif;
        letter-spacing: 1px;
        text-shadow: 1px 1px 2px black, -1px -1px 2px black;
        font-size: 26px;
    }
}
.enter_location {
    .input_row {
        min-height: 50px;
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;

        input[type="text"],
        input[type="submit"] {
            width: 280px;
            height: 40px;
            color: $text;
            font-size: 18px;
            font-weight: 300;
            letter-spacing: 2px;
            text-align: center;
            text-shadow: 1px 1px 2px black, -1px -1px 2px black;
            outline: none;
        }

        input[type="text"] {
            background: transparent;
            border: none;
            border: .1em solid $CFColors-ltGrey;
            border-top-right-radius: 6px;
            border-top-left-radius: 6px;
        }
        input[type="submit"] {
            padding: 4px 12px 6px 12px;
            background: $CfColors-darkBlue-2;
            border: .1em solid $CFColors-ltGrey;
            border-top: none;
            border-bottom-right-radius: 6px;
            border-bottom-left-radius: 6px;

            &:hover {
                color: rgba(0, 0, 0, 1);
                font-weight: 400;
                text-shadow: none;
                background-color: $CFColors-Orange;
                border-color: rgb(17, 72, 104);
            }
        }
    }
}
.degrees {
    display: flex;
    flex-direction: column;
    align-items: center;

    .degrees_title {
        justify-content: center;
        margin: 15% 0 4% 0;
        color: rgba(0, 115, 171, 1);
        font-family: titillium-web, sans-serif;
        font-size: 19px;
        letter-spacing: 1px;
        text-shadow: 1px 1px 2px black, -1px -1px 2px black;
    }
    .degrees_btns {
        display: flex;
        flex-direction: column;
        align-items: center;

        .deg_btn {
            width: 161px;
            height: 36px;
            margin: 4px 0;
            padding: 4px 8px;
            color: $text;
            font-size: 18px;
            font-weight: 300;
            letter-spacing: 2px;
            text-shadow: 1px 1px 2px black, -1px -1px 2px black;
            text-shadow: none;
            background: $CfColors-darkBlue-1;
            border: .1em solid $CFColors-ltGrey;
            border-radius: 6px;
    
            &:hover {
                color: rgba(0, 0, 0, 1);
                font-weight: 400;
                text-shadow: none;
                background-color: $CFColors-Orange;
                border-color: rgb(17, 72, 104);
            }
        }   
        .deg_btn:active,
        .deg_btn:focus {
             outline: none;
        }
    }
}
#wpMain {
    resize: vertical;
    color: $text;
    padding: 20px;
}
#wpTitle {
    font-family: titillium-web, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.5em;
    color: $text;
    z-index: 2;

    .title {
        font-size: 40px;
        font-weight: 500;
        letter-spacing: 4px;
        word-spacing: 6px;
        text-align: center;
        text-shadow: 4px 4px 4px black, -4px -4px 4px black;

        .app {
            margin-left: 8px;
            font-size: 22px;
            font-weight: 400;
        }
    }
}

#wpCurrent {
    resize: vertical;
    padding-top: 12px;
    color: $text;
    font-family: titillium-web, sans-serif;
    font-weight: 400;
    letter-spacing: 2px;
    background-color: $CFColors-grayBlue;
    border: .14em solid rgb(20, 85, 122);
    border-bottom: none;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}
#wpTemp {
    width: 50%;
}
.location-box,
#dayTime,
#summary {
    margin-left: 20px;
    padding: 0;
    text-shadow: 1px 1px 4px black, -1px -1px 4px black;
}
.location-box {
    align-content: flex-end;
    align-items: flex-end;
    padding-bottom: 6px;
    border-bottom: .14em solid rgba(20, 85, 122, .6);
}
#city {
    margin-right: 6px;
    font-size: 1.8em;
    font-weight: 600;
}
#location {
    font-size: 1.5em;
}
#dayTime {
    margin: 6px 0 8px 20px;
    color: rgb(200, 200, 200);
}
#summary {
    color: rgb(219, 199, 145);
    color: $text;
    font-size: 1.8em;
    text-transform: capitalize;
    text-shadow: 1px 1px 2px rgba(223, 135, 27, 0.8), -1px -1px 2px rgba(223, 135, 27, 0.8),
        2px 2px 4px rgba(170, 109, 18, 0.8), -2px -2px 4px rgba(170, 109, 18, 0.8);
}
#currentTemp {
    margin: -12px 0 -6px 0;
    color: $text;
    font-size: 6.6em;
    font-family: titillium-web, sans-serif;
    text-align: left;
    text-shadow: 1px 1px 4px rgba(223, 135, 27, 0.8), -1px -1px 4px rgba(223, 135, 27, 0.8),
        2px 2px 8px rgba(170, 109, 18, 0.8), -2px -2px 8px rgba(170, 109, 18, 0.8);
}
.weatherIcon {
    width: 50%;
    justify-content: center;
    align-items: center;
    padding: 20px 0;

    img[src*=".jpg"] {
        max-width: 92.5%;
        height: auto;
        border: 1px solid rgba(17, 72, 104, .6);
    }
    img[src*=".png"] {
        max-width: 70%;
        height: auto;
    }
}
#wpConditions {
    resize: vertical;
    padding: 20px 20px;
    background-color: $CfColors-darkBlue-1;
    border: .14em solid rgb(20, 85, 122);

    .conditions,
    .sun {
        width: 100%;
        border-collapse: separate;
        border-spacing: 4px;
        font-family: titillium-web, sans-serif;
        letter-spacing: 3px;
        text-shadow: 1px 1px 4px black, -1px -1px 4px black;
        background: rgba(100, 100, 100, 0.2);
        border: .1em solid rgba(17, 72, 104, .8);
        border-radius: 4px;
    }
    .conditions {
        font-size: 1.1em;
    }
    .sun {
        margin-top: 20px;
        font-size: .9em;
    }
    .titleCol {
        font-size: 1.2em;
        border: 1px solid  rgba(17, 72, 104, .8);
    }
    .titleCol,
    .firstCol,
    .secondCol {
        padding: 3px 6px 1px 10px;
        border-radius: 2px;
    }
    .titleCol ,
    .firstCol {
        color: rgb(219, 199, 145);
        font-weight: 400;
        background: rgba(17, 72, 104, .3);
    }
    .firstCol {
        width: 40%;
        border: 1px solid transparent;
    }
    .secondCol {
        width: 60%;
        padding-left: 20px;
        color: $text;
        font-weight: 300;
        background: rgba(0, 115, 171, .4);
        border: .1em solid transparent;
    }
}
#wpForecast {
    padding: 20px;
    resize: vertical;
    font-size: 1em;
    background-color: $CFColors-brown;
    border: .14em solid rgb(20, 85, 122);
    border-left: none;
}
#forecastTab {
    width: 100%;
    border-bottom: .14em solid rgb(65, 43, 17);
    border: .12em solid rgb(65, 43, 17);
    border-radius: 4px;
    overflow: hidden;
}
#forecastTab li {
    width: 50%;
}
#forecastTab li a {
    height: 36px;
    padding: 5px 0 0 0;
    color: black;
    font-weight: 400;
    letter-spacing: 1px;
    text-align: center;
    background-color: rgba(65, 43, 17, 0.4);
    border: none;
    border-radius: 0px;
}
#forecastTab li a:hover {
    color: black;
    color: $text;
    background: transparent;
}
#forecastTab li a.active {
    color: rgb(8, 31, 44);
    background-color: rgba(170, 158, 126, 0.6);
    overflow: hidden;
}
.tab-content {
    margin: 0 0;
    padding: 0 0;
}

.hourly_predictions,  
.week_predictions {
    width: 106%;
    margin: 8px 0 0 -15px;
    border-collapse: separate;
    border-spacing: 4px;
    letter-spacing: 1px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8), -1px -1px 2px rgba(0, 0, 0, 0.8);
    background: rgba(65, 43, 17, 0.4);
    border: .12em solid rgb(65, 43, 17);
    border-radius: 4px;

    thead th {
        padding: 4px 0 1px 0;
        font-size: 15px;
        text-align: left;
        text-transform: capitalize;
    }
    th {
        color: rgb(219, 199, 145);
        font-size: 13px;
        font-weight: 500;
        background-color: rgba(170, 158, 126, .2);
    }
    td {
        padding: 2px 4px 0 4px;
        font-size: 13px;
        font-weight: 200;
        border-radius: 2px;
        background: rgba(222, 222, 222, .2);
    }
    .dayTime_title {
        width: 16%;
        padding: 4px 16px 1px 12px;
        text-align: right;  
    }
    .next_hourDay {
        width: 16%;
        padding: 2px 16px 0 12px;
        font-weight: 400;
        text-align: right;
        text-transform: uppercase;
        //border-right: 1px solid rgba(100, 100, 100, 0.8);

        span {
            text-transform: lowercase;
        }
    }
    .textcol {
        width: 44%;
        padding-left: 12px;
        text-transform: capitalize;
    }
    .tempcol {
        width: 20%;
        padding-right: 12px;
        text-align: right;
    }
}
.box_hidden {
    display: none;
}
.box_visible {
    display: block;
}

#wpFooter {
    padding: 4px 0;
    font-size: 13px;
    letter-spacing: 1px;
    background: rgba(44, 66, 81, .66);
    border: .14em solid rgb(20, 85, 122);
    border-top: none;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;

    .source,
    .developer {
        color: $text;
        font-weight: 400;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6), -1px -1px 2px rgba(0, 0, 0, 0.6);

        a {
            color: rgba(36, 211, 255, 0.8);
            font-size: 1em;
            font-weight: 600;
            text-shadow: 1px 1px 2px rgba(101, 101, 101, 0.6), -1px -1px 2px rgba(101, 101, 101, 0.6);
            text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6), -1px -1px 2px rgba(0, 0, 0, 0.6);
        
            &:hover {
                color: rgb(207, 125, 24);
                text-decoration: underline;
                text-underline-offset: 6px;
            }
        }
    }
}